div.productComponent {
  width: 90%;
  height: 90%;
  margin: 5%;
  background: #fff;
  div.productInfo {
    text-align: center;
    padding:1em;
    h2 {
      font-size:1.1em;
      font-weight: 300;
    }
  }
}
